# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [7]:
# 학습 데이터 로딩
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

# 시각화 한글폰트 설정
plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# 경고 메시지 숨기기
warnings.filterwarnings("ignore", category=UserWarning)

In [8]:
df_total = pd.read_csv('../data/df_total.csv')
df_test = pd.read_csv('../data/df_test.csv')

---

# 1. 데이터 전처리

#### [실습문제1] 열 추가 
* 기존 '기준일ID'열에서 날짜 데이터를 추출하여 새로운 열로 추가 합니다.
    - pd.to_datetime() 함수를 사용해 '기준일ID'열을 datetime 형식으로 변경하겠습니다.
    - year, month, day 열로 기존 데이터 프레임에 연월일 정보를 저장합니다.
    - 데이터 프레임 열에 대해 날짜 정보를 얻을 때에는 **dt.year**, **dt.month**, **dt.day** 속성을 사용합니다.

In [9]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_total['기준일ID'] = pd.to_datetime(df_total['기준일ID'])
df_test['기준일ID'] = pd.to_datetime(df_test['기준일ID'])

In [10]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_total['Year'] = df_total['기준일ID'].dt.year
df_total['Month'] = df_total['기준일ID'].dt.month
df_total['Day'] = df_total['기준일ID'].dt.day

# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_test['Year'] = df_test['기준일ID'].dt.year
df_test['Month'] = df_test['기준일ID'].dt.month
df_test['Day'] = df_test['기준일ID'].dt.day

#### [실습문제2] 불필요한 열 제거 및 열 이름 변경
* df_total과 df_test에서 '총생활인구수'외에 불필요한 열을 제거 하도록 하겠습니다.
* 시간 데이터를 남기고, '시간대구분' column 을 'hour'로 rename 하도록 하겠습니다.

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_total = df_total[['기준일ID', '시간대구분', '총생활인구수','Year', 'Month', 'Day']]
df_test = df_test[['기준일ID', '시간대구분', '총생활인구수','Year', 'Month', 'Day']]

In [11]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# '시간대구분' 열의 이름을 'hour'로 변경
df_total.rename(columns={'시간대구분': 'hour'}, inplace=True)
df_test.rename(columns={'시간대구분': 'hour'}, inplace=True)

In [12]:
df_total

,기준일ID,hour,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,Year,Month,Day
0,2017-01-01,0,31535.2200,1945.4402,566.4588,631.5581,991.9184,1297.1287,1223.1529,1552.9448,...,1029.4360,998.0414,874.5643,1162.1547,1053.0477,964.3940,2025.4819,2017,1,1
1,2017-01-01,1,31188.9174,1930.4766,562.1018,625.2151,1030.6281,1307.7381,1183.0956,1491.5827,...,1027.2574,1038.7528,857.9100,1149.7532,1042.7411,919.0115,2062.2422,2017,1,1
2,2017-01-01,2,31240.4974,1921.1864,559.3965,658.7463,1058.7082,1311.9591,1186.2600,1537.3732,...,1027.8901,1020.0177,853.3890,1193.4472,1011.2073,889.9325,1960.1236,2017,1,1
3,2017-01-01,3,31442.4314,1946.4476,566.7525,649.0804,1057.9119,1324.2638,1202.1250,1521.2732,...,1007.6650,1042.9554,896.0038,1163.0355,1056.6428,891.9177,2060.1872,2017,1,1
4,2017-01-01,4,31922.7751,1953.7713,568.8845,623.2087,1063.2557,1342.9146,1209.2680,1556.0675,...,1064.0655,1045.2130,895.8336,1191.7017,1045.3362,874.4984,2038.6212,2017,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43507,2021-12-31,19,33060.4555,1858.2611,541.0746,605.9080,781.6602,1342.6763,1435.1080,1678.8904,...,1277.9546,1279.9036,977.2774,1091.7204,942.1525,789.2094,1705.8216,2021,12,31
43508,2021-12-31,20,32360.1898,2093.8808,609.6807,612.5326,768.8351,1323.7124,1479.1382,1654.5005,...,1294.2541,1232.4805,918.4935,1062.8069,894.8617,792.1748,1726.3071,2021,12,31
43509,2021-12-31,21,31417.3991,1983.6728,577.5909,639.2174,779.6693,1187.6783,1375.6785,1600.9946,...,1223.4195,1205.9346,908.4537,999.7321,874.9000,770.3955,1674.6047,2021,12,31
43510,2021-12-31,22,30763.0563,2028.3314,590.5941,654.0295,790.1638,1133.6311,1362.0266,1548.7366,...,1213.3359,1110.3310,863.0019,991.0451,848.4622,753.9750,1727.0258,2021,12,31
43511,2021-12-31,23,30404.2740,1903.8825,554.3582,615.0753,772.8499,1136.6157,1295.0434,1549.1984,...,1239.5283,1186.8895,805.3827,986.6660,872.1547,734.2503,1759.0664,2021,12,31

#### [실습문제3] 시프트 & 롤링
* shift()를 활용하여 이동할 행 수를 지정합니다.
* rolling()을 활용하여 추가할 이동평균 수를 지정합니다.

In [13]:
# '총생활인구수' 열을 1행씩 아래로 이동
# df_total['yesterday_총생활인구수'] = df_total['총생활인구수'].shift(1)
# print(df_total[['총생활인구수', 'yesterday_총생활인구수']].head())

In [14]:
# '총생활인구수' 열을 1행씩 아래로 이동
df_total['내일_총생활인구수'] = df_total['총생활인구수'].shift(-24)
df_test['내일_총생활인구수'] = df_test['총생활인구수'].shift(-24)

In [15]:
# '총생활인구수' 열을 6시간 간격으로 이동 평균 계산
rolling_mean = df_total['총생활인구수'].rolling(window=3, min_periods=1).mean()
df_total['rolling_mean_6hour_총생활인구수'] = rolling_mean
print(df_total[['총생활인구수', 'rolling_mean_6hour_총생활인구수']].head())

# '총생활인구수' 열을 3시간 간격으로 이동 평균 계산
rolling_mean = df_test['총생활인구수'].rolling(window=3, min_periods=1).mean()
df_test['rolling_mean_6hour_총생활인구수'] = rolling_mean
print(df_test[['총생활인구수', 'rolling_mean_6hour_총생활인구수']].head())

       총생활인구수  rolling_mean_6hour_총생활인구수
0  31535.2200               31535.220000
1  31188.9174               31362.068700
2  31240.4974               31321.544933
3  31442.4314               31290.615400
4  31922.7751               31535.234633
       총생활인구수  rolling_mean_6hour_총생활인구수
0  30509.7386               30509.738600
1  30759.5067               30634.622650
2  31048.8787               30772.708000
3  31076.1092               30961.498200
4  31714.9309               31279.972933

In [16]:
# 계절 변수 생성
def get_season(month):
    if 3 <= month <= 5:
        return '봄'
    elif 6 <= month <= 8:
        return '여름'
    elif 9 <= month <= 11:
        return '가을'
    else:
        return '겨울'
df_total['한달전_총생활인구수'] = df_total['총생활인구수'].shift(24 * 30)
df_total['계절'] = df_total['Month'].apply(get_season)
df_total['요일'] = df_total['기준일ID'].dt.dayofweek
df_total['주말'] = df_total['요일'].apply(lambda x: 1 if x >= 5 else 0)
df_total['시간대'] = df_total['hour'].apply(lambda x: '아침' if 5 <= x < 12 else '오후' if 12 <= x < 18 else '저녁')

df_test['한달전_총생활인구수'] = df_test['총생활인구수'].shift(24 * 30)
df_test['계절'] = df_test['Month'].apply(get_season)
df_test['요일'] = df_test['기준일ID'].dt.dayofweek
df_test['주말'] = df_test['요일'].apply(lambda x: 1 if x >= 5 else 0)
df_test['시간대'] = df_test['hour'].apply(lambda x: '아침' if 5 <= x < 12 else '오후' if 12 <= x < 18 else '저녁')

In [17]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df_total['계절'] = label_encoder.fit_transform(df_total['계절'])
df_total['시간대'] = label_encoder.fit_transform(df_total['시간대'])

df_test['계절'] = label_encoder.fit_transform(df_test['계절'])
df_test['시간대'] = label_encoder.fit_transform(df_test['시간대'])

#### [실습문제4] 결측치 처리 및 불필요한 열 제거
* 롤링 & 시프트 과정에서 발생한 결측치를 처리하도록 하겠습니다.
* 불필요한 열을 추가로 제거 하겠습니다.(시간 관련 행들)

In [18]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_total.dropna(inplace=True)
df_total.reset_index(inplace=True, drop=True)
df_test.dropna(inplace=True)
df_test.reset_index(inplace=True, drop=True)

In [19]:
df_total.drop(columns='기준일ID', inplace=True)
df_test.drop(columns='기준일ID', inplace=True)
df_total.drop(columns='Year', inplace=True)
df_test.drop(columns='Year', inplace=True)
df_total.drop(columns='Month', inplace=True)
df_test.drop(columns='Month', inplace=True)
df_total.drop(columns='Day', inplace=True)
df_test.drop(columns='Day', inplace=True)
df_total.drop(columns='주말', inplace=True)
df_test.drop(columns='주말', inplace=True)
df_total.drop(columns='hour', inplace=True)
df_test.drop(columns='hour', inplace=True)

In [20]:
display(df_total)
display(df_test)

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,내일_총생활인구수,rolling_mean_6hour_총생활인구수,한달전_총생활인구수,계절,요일,시간대
0,30539.0226,1823.4422,530.9358,534.0533,1023.6384,1256.6176,1267.8932,1654.9674,1218.8003,1054.9133,...,1166.3719,1048.3915,836.7032,1816.5682,31306.7890,31564.292633,31535.2200,1,1,2
1,30445.4356,1757.9946,511.8798,543.1033,990.2817,1208.3172,1272.1070,1610.1406,1230.8263,1067.9561,...,1182.0438,1070.0049,815.9488,1848.5682,31035.0916,30399.307533,31188.9174,1,1,2
2,30571.1750,1814.3066,528.2765,516.5908,1013.6401,1233.7069,1273.0928,1633.0075,1229.8131,1082.4531,...,1167.4545,1056.8044,819.6477,1874.1345,31045.2513,30518.544400,31240.4974,1,1,2
3,30661.7845,1817.5728,529.2268,545.8776,1008.0211,1237.2865,1289.0329,1606.4797,1235.2324,1098.3050,...,1178.2283,1045.8121,846.2305,1845.9096,31199.9922,30559.465033,31442.4314,1,1,2
4,31212.8186,1806.1233,525.8938,577.3770,1034.0611,1256.3970,1330.7446,1681.8607,1278.6315,1137.9493,...,1196.3086,1066.4126,821.9848,1854.0247,31928.3796,30815.259367,31922.7751,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42763,33928.2051,2292.9471,667.6434,602.9669,910.8058,1250.2903,1484.7855,1706.9108,1554.9063,1641.8026,...,1036.5243,912.5761,705.1617,1730.7002,33060.4555,35445.266333,33602.7998,1,3,2
42764,33712.5348,2391.2918,696.2787,607.2308,877.2090,1269.6091,1490.6513,1670.7257,1553.8002,1675.8955,...,1038.4571,895.5837,711.2328,1783.2093,32360.1898,34407.961467,32347.6553,1,3,2
42765,32144.4917,2122.0116,617.8717,666.6538,804.9682,1196.4949,1401.0639,1625.7178,1442.0717,1552.9723,...,1023.4321,857.8580,693.6135,1803.0293,31417.3991,33261.743867,31653.6302,1,3,2
42766,32137.7017,2235.0867,650.7956,752.3192,802.2176,1186.8098,1396.1735,1612.4199,1479.1193,1555.4626,...,1023.9578,861.0099,705.3499,1796.5828,30763.0563,32664.909400,31742.2954,1,3,2
42767,31641.1698,2217.0428,645.5422,666.8555,775.9817,1168.5476,1309.1932,1571.8459,1559.7738,1526.3351,...,1021.9925,882.5133,731.7802,1799.7320,30404.2740,31974.454400,32149.4131,1,3,2

,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,내일_총생활인구수,rolling_mean_6hour_총생활인구수,한달전_총생활인구수,계절,요일,시간대
0,29602.1815,1933.8628,563.0879,629.4774,692.1992,1031.0562,1222.2039,1483.8884,1505.8482,1352.2382,...,1006.8177,858.9991,747.2510,1799.3541,28872.5601,29419.504100,30509.7386,0,0,2
1,29607.3519,1887.0786,549.4654,608.8985,667.2531,1028.5495,1208.3771,1506.7908,1524.1691,1351.8666,...,1019.6778,857.5087,761.3893,1797.8727,29078.6405,29526.680033,30759.5067,0,0,2
2,29772.9626,1905.9569,554.9622,637.8288,666.3486,1038.0185,1221.0021,1501.7442,1510.1705,1359.2099,...,1019.7018,856.6834,762.8619,1809.0587,29201.1140,29660.832000,31048.8787,0,0,2
3,30049.7940,1946.7901,566.8517,652.0733,693.7015,1080.0609,1251.3363,1501.3580,1516.5114,1391.7497,...,1023.1649,875.3515,755.6377,1807.9916,29247.8180,29810.036167,31076.1092,0,0,2
4,30887.7456,1935.7226,563.6294,691.3256,708.3971,1114.6542,1282.4454,1549.4147,1583.6919,1446.3279,...,1063.1128,902.6394,748.7077,1810.2821,30223.3967,30236.834067,31714.9309,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,31689.8212,1887.3098,549.5331,521.6067,767.4713,1105.7015,1366.8048,1667.5890,1546.2287,1507.5983,...,954.8368,922.8379,743.6683,1638.0104,32969.6040,33147.015133,35946.3953,2,2,2
3596,30425.9054,1915.5621,557.7588,492.0667,736.6880,1063.6446,1243.2890,1566.2797,1465.1115,1424.0308,...,864.4144,899.6520,729.8420,1558.7710,31014.6597,31698.686500,34236.4204,2,2,2
3597,30352.8869,1832.1007,533.4572,533.1095,657.1887,1124.1409,1315.5870,1611.0751,1448.7146,1477.3834,...,903.4441,847.9154,712.6615,1622.1022,30923.2923,30822.871167,33311.1423,2,2,2
3598,30232.2846,1919.9888,559.0479,605.6511,694.2102,1177.6589,1289.3667,1592.9451,1433.7953,1480.9096,...,1000.0843,846.4850,738.8655,1597.2884,30509.5463,30337.025633,33122.2977,2,2,2
3599,31251.4119,2278.6019,663.4664,607.1826,697.8407,1108.9555,1319.9910,1635.2906,1545.2944,1434.1232,...,970.4263,792.5821,719.8603,1808.9691,31184.8763,30612.194467,34119.5957,2,2,2

#### [실습문제5] train, test 데이터 나누기
* df_total과 df_test를 각각 train_x, train_y, test_x, test_y 로 나누어 주세요.
* 인덱스를 리셋 해주세요.

In [21]:
y_train = df_total['내일_총생활인구수']
y_test = df_test['내일_총생활인구수']

In [22]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
x_train = df_total.drop(columns='내일_총생활인구수')
x_test = df_test.drop(columns='내일_총생활인구수')

In [23]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(42768, 34)
(42768,)
(3600, 34)
(3600,)

---

## 다음 단계를 위해서 데이터를 저장하겠습니다.

In [61]:
# CSV로 저장
x_train.to_csv('../data/train_x.csv', index = False)
y_train.to_csv('../data/train_y.csv', index = False)
x_test.to_csv('../data/test_x.csv', index = False)
y_test.to_csv('../data/test_y.csv', index = False)

---