**AIVLE School 미니프로젝트**
### **공공데이터를 활용한 <span style="color:darkgreen">미세먼지 농도</span> 예측**
---

#### **<span style="color:red">[미션 안내]</span>**
* 개인 미션: 미세먼지 농도를 예측하는 머신러닝 모델을 만드세요. <br> ([1-1]부터 [1-2]까지, [2-1]부터 [2-8]까지, [3-1]부터 [3-2]까지 필수 수행, [4-1]부터 선택 수행)
* 조별 미션: 개인 미션 수행한 내용에 대해 토론하여 발표 준비를 해주세요.

#### **<span style="color:red">[데이터 설명]</span>**

* 학습 데이터
    * air_2021.csv : 2021년 미세먼지 데이터
    * weather_2021.csv : 2021년 날씨 데이터
* 테스트 데이터
    * air_2022.csv : 2022년 미세먼지 데이터
    * weather_2022.csv : 2022년 날씨 데이터

# [Step 1] 탐색적 데이터 분석

In [1]:
# 필요한 라이브러리 설치 및 임포트
import pandas as pd
import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None) 
import seaborn as sns
import matplotlib.pyplot as plt

---

#### **<span style="color:skyblue">[1-1] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

#### **<span style="color:skyblue">[1-2] 필요한 데이터 분석 진행 </span>**

In [3]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행
display(air_21.describe())
display(weather_21.describe())
display(air_22.describe())
display(weather_22.describe())

,측정소코드,측정일시,SO2,CO,O3,NO2,PM10,PM25
count,8760.0,8.760000e+03,8648.000000,8680.000000,8663.000000,8680.000000,8655.000000,8663.000000
mean,111123.0,2.021067e+09,0.003385,0.505645,0.029246,0.023346,38.925361,20.466005
std,0.0,3.450216e+04,0.000826,0.209516,0.019708,0.014456,47.470577,16.564915
min,111123.0,2.021010e+09,0.001000,0.200000,0.000000,0.003000,3.000000,1.000000
25%,111123.0,2.021040e+09,0.003000,0.400000,0.015000,0.012000,18.000000,10.000000
50%,111123.0,2.021070e+09,0.003000,0.400000,0.028000,0.019000,30.000000,16.000000
75%,111123.0,2.021100e+09,0.004000,0.600000,0.040000,0.031000,46.000000,25.000000
max,111123.0,2.021123e+09,0.011000,2.000000,0.137000,0.082000,942.000000,154.000000

,지점,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,8759.0,8759.000000,0.0,949.000000,1763.0,8757.000000,2.0,8757.000000,2.0,8759.000000,0.0,8759.000000,8759.000000,8759.000000,0.0,8759.000000,0.0,4791.000000,3968.0,4791.000000,3968.0,379.000000,29.000000,8757.000000,8759.000000,4547.000000,8759.000000,0.0,2.125000e+03,8754.000000,24.00000,8754.000000,8754.000000,8754.000000,8754.000000
mean,108.0,13.739194,NaN,1.250263,9.0,2.311328,9.0,169.658559,9.0,65.589223,NaN,12.631236,6.842094,1006.046603,NaN,1016.280317,NaN,0.458380,9.0,1.076706,9.0,1.397625,0.962069,4.960489,3.033565,15.161425,1719.765384,NaN,1.367177e+04,14.734304,1.87500,15.128581,14.555118,14.533276,14.827633
std,0.0,10.894786,NaN,3.398801,0.0,1.120906,0.0,107.549684,0.0,18.394276,NaN,8.282075,11.736897,7.928167,NaN,8.311602,NaN,0.438788,0.0,0.966440,0.0,1.357390,1.424132,3.929256,3.452846,13.537921,521.130959,NaN,4.170156e+05,12.042066,3.73366,10.175582,10.044423,9.739277,9.360493
min,108.0,-18.500000,NaN,0.000000,9.0,0.000000,9.0,0.000000,9.0,19.000000,NaN,0.700000,-27.000000,986.900000,NaN,996.500000,NaN,0.000000,9.0,0.000000,9.0,0.000000,0.000000,0.000000,0.000000,1.000000,33.000000,NaN,1.000000e+00,-12.700000,0.00000,-4.700000,-4.600000,-3.000000,-0.800000
25%,108.0,6.000000,NaN,0.000000,9.0,1.500000,9.0,50.000000,9.0,51.000000,NaN,5.900000,-0.400000,999.800000,NaN,1009.700000,NaN,0.000000,9.0,0.230000,9.0,0.400000,0.000000,0.000000,0.000000,7.000000,1719.000000,NaN,5.000000e+00,4.300000,0.00000,5.900000,5.500000,5.600000,6.300000
50%,108.0,14.600000,NaN,0.100000,9.0,2.200000,9.0,200.000000,9.0,66.000000,NaN,9.700000,6.600000,1006.300000,NaN,1016.400000,NaN,0.400000,9.0,0.790000,9.0,0.900000,0.200000,6.000000,1.000000,10.000000,2000.000000,NaN,1.900000e+01,15.400000,0.00000,15.400000,14.700000,14.600000,15.100000
75%,108.0,22.600000,NaN,1.100000,9.0,2.900000,9.0,270.000000,9.0,80.000000,NaN,19.900000,17.400000,1012.000000,NaN,1022.500000,NaN,1.000000,9.0,1.800000,9.0,1.850000,0.900000,9.000000,6.000000,16.000000,2000.000000,NaN,1.901000e+03,23.600000,0.00000,24.100000,23.500000,23.400000,23.600000
max,108.0,36.300000,NaN,64.700000,9.0,8.300000,9.0,360.000000,9.0,100.000000,NaN,32.200000,25.300000,1025.800000,NaN,1037.400000,NaN,1.000000,9.0,3.740000,9.0,5.100000,4.400000,10.000000,10.000000,76.000000,2000.000000,NaN,1.916020e+07,56.800000,9.00000,35.700000,33.700000,31.900000,30.600000

,측정소코드,측정일시,SO2,CO,O3,NO2,PM10,PM25
count,2160.0,2.160000e+03,2139.000000,2139.000000,2139.000000,2139.000000,2122.000000,2135.000000
mean,111123.0,2.022022e+09,0.003385,0.576718,0.024673,0.027864,40.563148,27.288993
std,0.0,8.347462e+03,0.000708,0.201352,0.014215,0.015426,23.480890,18.614884
min,111123.0,2.022010e+09,0.002000,0.300000,0.002000,0.005000,3.000000,1.000000
25%,111123.0,2.022012e+09,0.003000,0.400000,0.012000,0.015000,26.000000,15.000000
50%,111123.0,2.022021e+09,0.003000,0.500000,0.026000,0.024000,36.000000,22.000000
75%,111123.0,2.022031e+09,0.004000,0.700000,0.035000,0.040000,49.000000,35.000000
max,111123.0,2.022033e+09,0.006000,1.400000,0.074000,0.074000,239.000000,121.000000

,지점,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,2160.0,2160.000000,0.0,81.000000,382.0,2160.000000,0.0,2160.000000,0.0,2160.000000,0.0,2160.000000,2160.000000,2160.000000,0.0,2160.000000,0.0,1071.000000,1089.0,1071.000000,1089.0,140.000000,15.000000,2160.000000,2160.000000,743.000000,2160.000000,0.0,418.000000,2160.000000,7.0,2160.000000,2160.000000,2160.000000,2160.000000
mean,108.0,1.518148,NaN,1.392593,9.0,2.430231,NaN,212.856481,NaN,57.306481,NaN,4.319954,-6.569213,1011.898565,NaN,1022.689306,NaN,0.545005,9.0,1.030019,9.0,1.179286,0.780000,3.842593,2.256019,12.454913,1737.135648,NaN,5578.363636,2.495093,0.0,2.196620,1.678241,1.673843,2.142685
std,0.0,6.358060,NaN,4.087321,0.0,1.164067,NaN,100.383875,NaN,17.524800,NaN,2.626777,7.366634,5.644250,NaN,5.874535,NaN,0.452274,0.0,0.865089,0.0,1.235127,1.105958,4.058539,3.463929,9.158550,488.601856,NaN,33784.324460,7.624066,0.0,4.069035,3.937891,3.706190,3.399132
min,108.0,-11.300000,NaN,0.000000,9.0,0.000000,NaN,0.000000,NaN,17.000000,NaN,1.300000,-19.700000,985.000000,NaN,995.000000,NaN,0.000000,9.0,0.000000,9.0,0.100000,0.000000,0.000000,0.000000,2.000000,141.000000,NaN,1.000000,-10.500000,0.0,-2.400000,-2.400000,-1.400000,-0.300000
25%,108.0,-3.300000,NaN,0.000000,9.0,1.600000,NaN,160.000000,NaN,45.000000,NaN,2.300000,-12.600000,1009.200000,NaN,1019.800000,NaN,0.000000,9.0,0.240000,9.0,0.300000,0.100000,0.000000,0.000000,7.000000,1721.750000,NaN,19.000000,-2.800000,0.0,-0.300000,-0.700000,-0.500000,0.000000
50%,108.0,1.200000,NaN,0.000000,9.0,2.300000,NaN,250.000000,NaN,55.000000,NaN,3.500000,-7.500000,1012.400000,NaN,1023.300000,NaN,0.700000,9.0,0.850000,9.0,0.500000,0.300000,2.000000,0.000000,10.000000,2000.000000,NaN,19.000000,0.000000,0.0,0.200000,-0.300000,-0.400000,0.100000
75%,108.0,6.100000,NaN,0.900000,9.0,3.100000,NaN,270.000000,NaN,69.000000,NaN,5.800000,-0.700000,1016.000000,NaN,1026.900000,NaN,1.000000,9.0,1.750000,9.0,1.800000,0.800000,8.000000,6.000000,14.000000,2000.000000,NaN,42.000000,7.000000,0.0,4.900000,4.500000,4.225000,3.825000
max,108.0,19.400000,NaN,32.200000,9.0,7.900000,NaN,360.000000,NaN,100.000000,NaN,14.700000,12.700000,1024.000000,NaN,1035.300000,NaN,1.000000,9.0,3.380000,9.0,5.000000,3.300000,10.000000,10.000000,60.000000,2000.000000,NaN,401905.000000,31.100000,0.0,13.100000,12.000000,11.000000,10.500000

In [5]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행

In [6]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행

In [7]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# head, tail, info, plot을 활용한 시각화 등 진행

# [Step 2] 데이터 전처리

#### **<span style="color:skyblue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22  각각 '측정일시'를 활용하여 'time'변수 생성
    * 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-3]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예: air_21['측정일시'] -1)하세요.
* time 변수를 pd.to_datetime으로 데이터 타입 변경
    * 참고: format = '%Y%m%d%H'

In [8]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
air_21['측정일시'] = air_21['측정일시'] - 1
air_22['측정일시'] = air_22['측정일시'] - 1
air_21['time'] = pd.to_datetime(air_21['측정일시'], format='%Y%m%d%H')
air_22['time'] = pd.to_datetime(air_22['측정일시'], format='%Y%m%d%H')

In [9]:
display(air_21.head(2))
display(air_22.head(2))

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2022010100,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19,2022-01-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 01:00:00

---

#### **<span style="color:skyblue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 pd.to_datetime으로 데이터 타입 변경

In [10]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21['time'] = pd.to_datetime(weather_21['일시'])
weather_22['time'] = pd.to_datetime(weather_22['일시'])

In [11]:
display(weather_21.head(2))
display(weather_22.head(2))

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,NaN,68,NaN,2.2,-13.5,1016.4,NaN,1027.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6,2021-01-01 01:00:00
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,NaN,69,NaN,2.1,-13.7,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6,2021-01-01 02:00:00

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2022-01-01 00:00,-8.5,NaN,NaN,NaN,1.9,NaN,320,NaN,41,NaN,1.3,-19.4,1021.9,NaN,1033.2,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.0,NaN,-1.0,-1.0,-0.2,1.0,2022-01-01 00:00:00
1,108,서울,2022-01-01 01:00,-9.2,NaN,NaN,NaN,1.8,NaN,270,NaN,42,NaN,1.3,-19.7,1022.2,NaN,1033.6,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.2,NaN,-1.1,-1.1,-0.2,1.0,2022-01-01 01:00:00

---

#### **<span style="color:skyblue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
    * df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
    * df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [12]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
df_21 = pd.merge(air_21, weather_21, on='time')
df_22 = pd.merge(air_22, weather_22, on='time')

In [13]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             2160 non-null   object
 1   망              2160 non-null   object
 2   측정소코드          2160 non-null   int64
 3   측정소명           2160 non-null   object
 4   측정일시           2160 non-null   int64
 5   SO2            2139 non-null   float64
 6   CO             2139 non-null   float64
 7   O3             2139 non-null   float64
 8   NO2            2139 non-null   float64
 9   PM10           2122 non-null   float64
 10  PM25           2135 non-null   float64
 11  주소             2160 non-null   object
 12  time           2160 non-null   datetime64[ns]
 13  지점             2160 non-null   int64
 14  지점명            2160 non-null   object
 15  일시             2160 non-null   object
 16  기온(°C)         2160 non-null   float64
 17  기온 QC플래그       0 non-null      float64
 18  강수량(mm)        81 non-null     float64
 19  강수량 QC플래그      382 non-null    float64
 20  풍속(m/s)        2160 non-null   float64
 21  풍속 QC플래그       0 non-null      float64
 22  풍향(16방위)       2160 non-null   int64
 23  풍향 QC플래그       0 non-null      float64
 24  습도(%)          2160 non-null   int64
 25  습도 QC플래그       0 non-null      float64
 26  증기압(hPa)       2160 non-null   float64
 27  이슬점온도(°C)      2160 non-null   float64
 28  현지기압(hPa)      2160 non-null   float64
 29  현지기압 QC플래그     0 non-null      float64
 30  해면기압(hPa)      2160 non-null   float64
 31  해면기압 QC플래그     0 non-null      float64
 32  일조(hr)         1071 non-null   float64
 33  일조 QC플래그       1089 non-null   float64
 34  일사(MJ/m2)      1071 non-null   float64
 35  일사 QC플래그       1089 non-null   float64
 36  적설(cm)         140 non-null    float64
 37  3시간신적설(cm)     15 non-null     float64
 38  전운량(10분위)      2160 non-null   int64
 39  중하층운량(10분위)    2160 non-null   int64
 40  운형(운형약어)       939 non-null    object
 41  최저운고(100m )    743 non-null    float64
 42  시정(10m)        2160 non-null   int64
 43  지면상태(지면상태코드)   0 non-null      float64
 44  현상번호(국내식)      418 non-null    float64
 45  지면온도(°C)       2160 non-null   float64
 46  지면온도 QC플래그     7 non-null      float64
 47  5cm 지중온도(°C)   2160 non-null   float64
 48  10cm 지중온도(°C)  2160 non-null   float64
 49  20cm 지중온도(°C)  2160 non-null   float64
 50  30cm 지중온도(°C)  2160 non-null   float64
dtypes: datetime64[ns](1), float64(35), int64(8), object(7)
memory usage: 877.5+ KB

---

#### **<span style="color:skyblue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
    * df_21, df_22에 사용할 변수들만 넣어보세요.
* time 변수를 index로 세팅하고 (set_index) 데이터가 정렬되어 있지 않으므로 index 기준으로 정렬하세요. (sort_index)

In [14]:
# df_21, df_22에 사용할 변수들만 할당
# 각 데이터 건수는 최대 8759개, 결측치가 과반 이상인 것은 모두 지우는게 나을것 같다.
df_21.columns

Index(['지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25', '주소', 'time', '지점', '지점명', '일시', '기온(°C)', '기온 QC플래그',
       '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그',
       '습도(%)', '습도 QC플래그', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그',
       '해면기압(hPa)', '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)',
       '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [15]:
# time 변수를 index로 세팅
안쓸놈들 = ['망', '측정소코드','지역','측정소명','일시',
       '주소', '지점', '지점명',  '기온 QC플래그',
       '강수량 QC플래그', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그',
       '습도 QC플래그', '현지기압(hPa)', '현지기압 QC플래그',
       '해면기압(hPa)', '해면기압 QC플래그', '일조 QC플래그',
       '일사 QC플래그', '일조(hr)','일사(MJ/m2)','적설(cm)','3시간신적설(cm)',
       '운형(운형약어)', '지면상태(지면상태코드)', '현상번호(국내식)', '최저운고(100m )',
       '지면온도 QC플래그','20cm 지중온도(°C)', '30cm 지중온도(°C)']
df_21 = df_21.drop(columns=안쓸놈들)
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   측정일시           8759 non-null   int64
 1   SO2            8647 non-null   float64
 2   CO             8679 non-null   float64
 3   O3             8662 non-null   float64
 4   NO2            8679 non-null   float64
 5   PM10           8654 non-null   float64
 6   PM25           8662 non-null   float64
 7   time           8759 non-null   datetime64[ns]
 8   기온(°C)         8759 non-null   float64
 9   강수량(mm)        949 non-null    float64
 10  풍속(m/s)        8757 non-null   float64
 11  습도(%)          8759 non-null   int64
 12  증기압(hPa)       8759 non-null   float64
 13  이슬점온도(°C)      8759 non-null   float64
 14  전운량(10분위)      8757 non-null   float64
 15  중하층운량(10분위)    8759 non-null   int64
 16  시정(10m)        8759 non-null   int64
 17  지면온도(°C)       8754 non-null   float64
 18  5cm 지중온도(°C)   8754 non-null   float64
 19  10cm 지중온도(°C)  8754 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(4)
memory usage: 1.4 MB

In [16]:
df_22 = df_22.drop(columns=안쓸놈들)
df_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   측정일시           2160 non-null   int64
 1   SO2            2139 non-null   float64
 2   CO             2139 non-null   float64
 3   O3             2139 non-null   float64
 4   NO2            2139 non-null   float64
 5   PM10           2122 non-null   float64
 6   PM25           2135 non-null   float64
 7   time           2160 non-null   datetime64[ns]
 8   기온(°C)         2160 non-null   float64
 9   강수량(mm)        81 non-null     float64
 10  풍속(m/s)        2160 non-null   float64
 11  습도(%)          2160 non-null   int64
 12  증기압(hPa)       2160 non-null   float64
 13  이슬점온도(°C)      2160 non-null   float64
 14  전운량(10분위)      2160 non-null   int64
 15  중하층운량(10분위)    2160 non-null   int64
 16  시정(10m)        2160 non-null   int64
 17  지면온도(°C)       2160 non-null   float64
 18  5cm 지중온도(°C)   2160 non-null   float64
 19  10cm 지중온도(°C)  2160 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(5)
memory usage: 354.4 KB

In [17]:
df_21 = df_21.set_index('time')
df_22 = df_22.set_index('time')

---

#### **<span style="color:skyblue">[2-5] 변수들의 결측치 처리</span>**

In [18]:
# df_21, df_22의 결측치 확인
print(df_21.isna().sum())
df_22.isna().sum()

측정일시                0
SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
기온(°C)              0
강수량(mm)          7810
풍속(m/s)             2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
전운량(10분위)           2
중하층운량(10분위)         0
시정(10m)             0
지면온도(°C)            5
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
dtype: int64

측정일시                0
SO2                21
CO                 21
O3                 21
NO2                21
PM10               38
PM25               25
기온(°C)              0
강수량(mm)          2079
풍속(m/s)             0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
전운량(10분위)           0
중하층운량(10분위)         0
시정(10m)             0
지면온도(°C)            0
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
dtype: int64

In [19]:
# df_21, df_22의 변수 중 결측치를 처리 (ex: 강수량(mm))
df_21['강수량(mm)'].fillna(0, inplace=True)
df_22['강수량(mm)'].fillna(0, inplace=True)

In [20]:
# df_21, df_22의 결측치 확인
print(df_21.isna().sum())
df_22.isna().sum()

측정일시               0
SO2              112
CO                80
O3                97
NO2               80
PM10             105
PM25              97
기온(°C)             0
강수량(mm)            0
풍속(m/s)            2
습도(%)              0
증기압(hPa)           0
이슬점온도(°C)          0
전운량(10분위)          2
중하층운량(10분위)        0
시정(10m)            0
지면온도(°C)           5
5cm 지중온도(°C)       5
10cm 지중온도(°C)      5
dtype: int64

측정일시              0
SO2              21
CO               21
O3               21
NO2              21
PM10             38
PM25             25
기온(°C)            0
강수량(mm)           0
풍속(m/s)           0
습도(%)             0
증기압(hPa)          0
이슬점온도(°C)         0
전운량(10분위)         0
중하층운량(10분위)       0
시정(10m)           0
지면온도(°C)          0
5cm 지중온도(°C)      0
10cm 지중온도(°C)     0
dtype: int64

In [21]:
# df_21, df_22의 남은 결측치를 처리
df_21.fillna(method='ffill', inplace=True)
df_22.fillna(method='ffill', inplace=True)

In [22]:
# df_21, df_22의 결측치 재확인
print(df_21.isna().sum().sum())
df_22.isna().sum().sum()

0

0

---

#### **<span style="color:skyblue">[2-6] 전일 같은 시간 미세먼지 농도 변수 추가</span>**

* 먼저 df_21, df_22에 month, day, hour 변수를 추가하세요.
    * 예) dt.month, dt.day, dt.hour 사용 또는 datetimeindex에서는 df.index.month 등 사용 가능
* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가하세요.
    * 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [23]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음). 이후에 저장 시 index(time)은 포함하지 않음.
# df_21과 df_22에서 'time' 열을 'month', 'day', 'hour'로 분할하여 새로운 열로 추가
df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour

df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

In [24]:
df_21.head(2)

,측정일시,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),증기압(hPa),이슬점온도(°C),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),month,day,hour
time,,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,19.2,0.0,1.3,83,18.4,16.2,0.0,0,2000,17.8,22.3,22.3,10,1,0
2021-10-01 01:00:00,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,18.7,0.0,1.0,85,18.3,16.1,0.0,0,2000,17.4,22.1,22.0,10,1,1

In [25]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.
# df_21에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
df_21['PM10_lag1'] = df_21['PM10'].shift(freq='-1D')

# df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
df_22['PM10_lag1'] = df_22['PM10'].shift(freq='-1D')

In [26]:
df_21.head()

,측정일시,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),증기압(hPa),이슬점온도(°C),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,19.2,0.0,1.3,83,18.4,16.2,0.0,0,2000,17.8,22.3,22.3,10,1,0,10.0
2021-10-01 01:00:00,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,18.7,0.0,1.0,85,18.3,16.1,0.0,0,2000,17.4,22.1,22.0,10,1,1,9.0
2021-10-01 02:00:00,2021100102,0.003,0.6,0.002,0.033,28.0,18.0,18.3,0.0,0.3,89,18.6,16.4,0.0,0,2000,17.2,21.8,21.8,10,1,2,9.0
2021-10-01 03:00:00,2021100103,0.003,0.6,0.002,0.030,26.0,16.0,17.7,0.0,2.0,92,18.5,16.3,0.0,0,2000,17.0,21.6,21.6,10,1,3,10.0
2021-10-01 04:00:00,2021100104,0.003,0.5,0.003,0.026,26.0,16.0,17.4,0.0,1.0,91,18.1,15.9,0.0,0,2000,16.5,21.3,21.4,10,1,4,11.0

---

#### **<span style="color:skyblue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수(PM10_1)를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [27]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가
df_21['PM10_1'] = df_21['PM10'].shift(freq='1H')

# df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
df_22['PM10_1'] = df_22['PM10'].shift(freq='1H')

In [28]:
df_21.head(2)

,측정일시,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),증기압(hPa),이슬점온도(°C),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),month,day,hour,PM10_lag1,PM10_1
time,,,,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,19.2,0.0,1.3,83,18.4,16.2,0.0,0,2000,17.8,22.3,22.3,10,1,0,10.0,29.0
2021-10-01 01:00:00,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,18.7,0.0,1.0,85,18.3,16.1,0.0,0,2000,17.4,22.1,22.0,10,1,1,9.0,31.0

In [49]:
# 결측치가 있다면 처리 - 직전값으로 대체하겠어!
df_21.fillna(method='ffill', inplace=True)
df_22.fillna(method='ffill', inplace=True)

In [56]:
df_22.dropna(inplace=True)
df_22.isna().sum()

측정일시             0
SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
전운량(10분위)        0
중하층운량(10분위)      0
시정(10m)          0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
month            0
day              0
hour             0
PM10_lag1        0
PM10_1           0
dtype: int64

---

#### **<span style="color:skyblue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv) (단, 인덱스 제외)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [57]:
print(train_y.shape)
print(train_x.shape)
print(test_y.shape)
print(test_x.shape)

(8759,)
(8759, 23)
(2160,)
(2160, 23)

In [58]:
train_y = df_21['PM10_1']
train_x = df_21.drop(columns='PM10_1')

In [59]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
test_y = df_22['PM10_1']
test_x = df_22.drop(columns='PM10_1')

In [60]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
print(train_y.shape)
print(train_x.shape)
print(test_y.shape)
print(test_x.shape)

(8759,)
(8759, 23)
(2159,)
(2159, 23)

In [61]:
train_y.to_csv('train_y.csv', index=False)
train_x.to_csv('train_x.csv', index=False)
test_y.to_csv('test_y.csv', index=False)
test_x.to_csv('test_x.csv', index=False)

In [62]:
test_x.head(2)

,측정일시,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),증기압(hPa),이슬점온도(°C),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,,,,,,,,,,
2022-01-01 01:00:00,2022010101,0.003,0.4,0.022,0.020,20.0,9.0,-9.2,0.0,1.8,42,1.3,-19.7,0,0,2000,-7.2,-1.1,-1.1,1,1,1,34.0
2022-01-01 02:00:00,2022010102,0.003,0.5,0.014,0.028,20.0,9.0,-9.5,0.0,1.2,43,1.3,-19.7,0,0,2000,-7.5,-1.3,-1.2,1,1,2,35.0

In [63]:
train_x.columns

Index(['측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', '기온(°C)', '강수량(mm)',
       '풍속(m/s)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '전운량(10분위)', '중하층운량(10분위)',
       '시정(10m)', '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', 'month', 'day',
       'hour', 'PM10_lag1'],
      dtype='object')