## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'<br>

# 3. 구 별 등록인구 분석
### 서울시 내 각 구 별로 등록된 인구를 분석합니다.

In [ ]:
# 필요 라이브러리를 설치합니다.
%pip install pandas seaborn

## 데이터 안내

[데이터 파일명]
* 3. seoul_people.csv

[데이터 정보]
* 서울시 주민등록 데이터

[데이터 컬럼 정보]
* 한국인, 등록 외국인, 합계, 세대수, 고령인구수

# 3.1.데이터 불러오기

#### [3.1.1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '3. seoul_people.csv'파일을 'seoul_people' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 '\t' 입니다
        * 인코더를 사용해 주세요
    * 데이터를 불러올 때 오류가 발생한다면, 오류에 대해 직접 검색하여 해결해보세요.

In [2]:
import sys
import numpy as np
import pandas as pd

In [4]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_people = pd.read_csv('3. seoul_people.csv', encoding='cp949', sep='\t')

In [24]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_people

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
기간,기간,기간,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,...,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4,2022.1/4
자치구,자치구,자치구,합계,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
세대,세대,세대,4451444,73766,63767,111207,134533,169483,169695,187693,...,272572,181916,118697,188193,186419,279353,169895,234612,285106,201926
인구,합계,계,9732617,153684,131450,236518,291609,353110,352592,393600,...,578426,419984,244901,400241,394649,500336,413677,537338,668261,465097
인구.1,합계,남자,4716704,74018,63869,114571,141662,169525,172318,193623,...,277797,208027,123959,198080,190377,250450,197665,257096,321963,227891
인구.2,합계,여자,5015913,79666,67581,121947,149947,183585,180274,199977,...,300629,211957,120942,202161,204272,249886,216012,280242,346298,237206
인구.3,한국인,계,9506778,144275,122173,222169,285073,340707,337982,389043,...,573046,396017,231098,376740,386017,486375,409823,532577,662607,461300
인구.4,한국인,남자,4613910,69911,59448,106735,138847,164346,166823,191835,...,275422,195002,116568,185696,186648,244409,195806,254866,319407,226203
인구.5,한국인,여자,4892868,74364,62725,115434,146226,176361,171159,197208,...,297624,201015,114530,191044,199369,241966,214017,277711,343200,235097
인구.6,등록외국인,계,225839,9409,9277,14349,6536,12403,14610,4557,...,5380,23967,13803,23501,8632,13961,3854,4761,5654,3797
인구.7,등록외국인,남자,102794,4107,4421,7836,2815,5179,5495,1788,...,2375,13025,7391,12384,3729,6041,1859,2230,2556,1688
인구.8,등록외국인,여자,123045,5302,4856,6513,3721,7224,9115,2769,...,3005,10942,6412,11117,4903,7920,1995,2531,3098,2109
세대당인구,세대당인구,세대당인구,2.14,1.96,1.92,2,2.12,2.01,1.99,2.07,...,2.1,2.18,1.95,2,2.07,1.74,2.41,2.27,2.32,2.28
65세이상고령자,65세이상고령자,65세이상고령자,1628980,28064,24742,39461,46896,52604,62963,72851,...,93924,73864,41819,63547,67470,80686,61404,79575,99854,75477

# 3.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [3.2.1] 기본 정보 확인하기
* 'seoul_people' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head', 'tail' 등 전부 활용해 보세요.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

#### [3.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장하세요

In [25]:
#read_csv 재실행. 단, header값을 적절히 지정
seoul_people = seoul_people.T
seoul_people.reset_index()
t1 = seoul_people['자치구']
t2 = seoul_people['인구.1']
t3 = seoul_people['인구.2']
t4 = seoul_people['인구']
t5 = seoul_people['65세이상고령자']
#pd.merge(t1, t2, how='left')
tmp1 = pd.concat([t1, t2], axis=1)
tmp2 = pd.concat([tmp1, t3], axis=1)
tmp3 = pd.concat([tmp2, t4], axis=1)
tmp4 = pd.concat([tmp3, t5], axis=1)

     자치구     인구.1     인구.2       인구  65세이상고령자
0    자치구       합계       합계       합계  65세이상고령자
1    자치구       남자       여자        계  65세이상고령자
2     합계  4716704  5015913  9732617   1628980
3    종로구    74018    79666   153684     28064
4     중구    63869    67581   131450     24742
5    용산구   114571   121947   236518     39461
6    성동구   141662   149947   291609     46896
7    광진구   169525   183585   353110     52604
8   동대문구   172318   180274   352592     62963
9    중랑구   193623   199977   393600     72851
10   성북구   212277   230403   442680     75719
11   강북구   145934   154890   300824     64961
12   도봉구   154440   163660   318100     65122
13   노원구   247417   267028   514445     89426
14   은평구   227172   248841   476013     88418
15  서대문구   149805   167270   317075     55012
16   마포구   176886   201743   378629     55168
17   양천구   219882   229496   449378     69953
18   강서구   277797   300629   578426     93924
19   구로구   208027   211957   419984     73864
20   금천구   123959   120942   244901     41819
21  영등포구   198080   202161   400241     63547
22   동작구   190377   204272   394649     67470
23   관악구   250450   249886   500336     80686
24   서초구   197665   216012   413677     61404
25   강남구   257096   280242   537338     79575
26   송파구   321963   346298   668261     99854
27   강동구   227891   237206   465097     75477

In [35]:
# 다시 불러온 데이터프레임에서 여러분 각자가 사용하고자 하는 컬럼만 가져오세요.
tmp4.rename(columns={'인구.1':'남자합계'}, inplace=True)
tmp4.rename(columns={'인구.2':'여자합계'}, inplace=True)
tmp4.rename(columns={'인구':'인구합계'}, inplace=True)
tmp4.drop([0,2], axis=0, inplace=True)

In [1]:
# 해당 데이터프레임을 csv 파일로 저장하세요.
tmp4 = tmp4.reset_index(drop=True)
tmp4
# tmp4.to_csv('df_seoul_people.csv')

NameError: name 'tmp4' is not defined

# 3.3.데이터 분석하기
+ 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별하세요.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [3.3.1] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---