## AIVLE School [AI 미니프로젝트] '서울시 생활정보 기반 대중교통 수요 분석'

---

# 4. 구 별 업종 분석
### 서울시 내 각 구 별로 등록업종을 분석합니다.

## 데이터 안내

[데이터 파일명]
* 4. seoul_people.csv

[데이터 정보]
* 서울 시 구별 등록 업종 상위 10개 데이터
    * 택시운송업
    * 한식일반음식점업
    * 용달 화물자동차 운송업
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[데이터 컬럼 정보]
* 다수 업종 상위 1~10

In [ ]:
# 필요 라이브러리를 설치합니다.
%pip install pandas seaborn

---

# 4.1.데이터 불러오기

#### [4.1.1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '4. business_type.csv'파일을 'seoul_business' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * 인코더를 사용해 주세요
    * 데이터를 불러올 때 오류가 발생한다면, 오류에 대해 직접 검색하여 해결해보세요.

In [1]:
import sys
import numpy as np
import pandas as pd

In [3]:
# 아래에 코드를 작성하고 결과를 확인합니다.
seoul_business = pd.read_csv('4. business_type.csv', encoding='utf-8', sep=',')

In [4]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_business

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
447,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
448,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
449,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
450,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

---

# 4.2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [4.2.1] 기본 정보 확인하기
* 'seoul_business' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head', 'tail' 등 전부 활용해 보겠습니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

#### [4.2.2] 원하는 데이터 형태로 저장하기

* head, tail 등을 살펴본 결과를 토대로 header 값을 적절히 지정하여 데이터를 다시 불러오고 필요한 컬럼만 저장하세요

In [5]:
#read_csv 재실행. 단, header값을 적절히 지정

seoul_business

seoul_people = seoul_people.T
seoul_people.reset_index()
t1 = seoul_people['자치구']
t2 = seoul_people['인구.1']
t3 = seoul_people['인구.2']
t4 = seoul_people['인구']
t5 = seoul_people['65세이상고령자']
#pd.merge(t1, t2, how='left')
tmp1 = pd.concat([t1, t2], axis=1)
tmp2 = pd.concat([tmp1, t3], axis=1)
tmp3 = pd.concat([tmp2, t4], axis=1)
tmp4 = pd.concat([tmp3, t5], axis=1)

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
447,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
448,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
449,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
450,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

In [45]:
seoul_business
# 


# seoul_business.drop([2,4,6,8,10,12,14,16,18,20], axis=0, inplace=True)
# seoul_business.reset_index(drop=True, inplace=True)
# seoul_business.drop([1,2], axis=0, inplace=True)
# seoul_business = seoul_business.T
# seoul_business = seoul_business.set_index(0).T
# [['택시운송업','한식 일반 음식점업','용달 화물자동차 운송업','부동산 중개 및 대리업','두발미용업','커피전문점','남녀용 겉옷 및 셔츠 도매업','기타주점업','일반 교과 학원','한식 육류요리 전문점']]

,자치구,동,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
3,종로구,삼청동,5,145,4,10,-,243,3,8,-,33
4,종로구,평창동,10,116,11,52,28,62,4,54,71,103
5,종로구,교남동,14,44,7,37,25,55,-,1,22,15
6,종로구,종로1.2.3.4가동,1,"2,396",11,271,81,"1,360",376,674,50,996
7,종로구,이화동,4,395,17,13,32,338,127,108,14,45
...,...,...,...,...,...,...,...,...,...,...,...,...
436,강동구,성내3동,120,390,73,163,113,133,86,103,199,164
437,강동구,둔촌2동,436,249,89,108,75,85,788,39,90,101
438,강동구,암사1동,372,195,153,107,114,59,6,98,67,98
439,강동구,천호2동,187,509,151,188,168,212,17,268,42,245
440,강동구,길동,"1,557",436,225,237,193,228,126,294,136,224

In [48]:
# 다시 불러온 데이터프레임에서 여러분 각자가 사용하고자 하는 컬럼만 가져오세요.
seoul_business.to_csv('aaa.csv')

In [68]:
seoul_business = pd.read_csv('aaa.csv', na_values='-')
seoul_business1 = seoul_business.dropna()
seoul_business1.isna().sum()
seoul_business1
# seoul_business1[['택시운송업', '한식 일반 음식점업']] = seoul_business1[['택시운송업', '한식 일반 음식점업']].astype('float')

,Unnamed: 0,자치구,동,택시운송업,한식 일반 음식점업,용달 화물자동차 운송업,부동산 중개 및 대리업,두발미용업,커피전문점,남녀용 겉옷 및 셔츠 도매업,기타주점업,일반 교과 학원,한식 육류요리 전문점
1,4,종로구,평창동,10,116,11,52,28,62,4,54,71,103
3,6,종로구,종로1.2.3.4가동,1,"2,396",11,271,81,"1,360",376,674,50,996
4,7,종로구,이화동,4,395,17,13,32,338,127,108,14,45
5,8,종로구,창신2동,16,89,24,15,21,22,7,14,6,42
6,9,종로구,숭인1동,16,26,18,15,21,14,19,5,16,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,436,강동구,성내3동,120,390,73,163,113,133,86,103,199,164
434,437,강동구,둔촌2동,436,249,89,108,75,85,788,39,90,101
435,438,강동구,암사1동,372,195,153,107,114,59,6,98,67,98
436,439,강동구,천호2동,187,509,151,188,168,212,17,268,42,245
437,440,강동구,길동,"1,557",436,225,237,193,228,126,294,136,224

In [ ]:
# 여러분 각자가 사용하고자 하는 형태로 데이터를 정리합니다. 
# 예를 들어, 동 컬럼의 값이 소계인 항목들만 골라내 보겠습니다. 
# 위와 같이 동 컬럼의 소계를 구하면 자치구 별 값이 되므로 이후에 동 컬럼은 삭제하겠습니다. 결과적으로 자치구 별 값을 얻게 됩니다.

In [ ]:
# 위에서 여러분 각자가 사용하고자 하는 형태로 정리한 해당 데이터프레임을 csv 파일('df_seoul_business.csv')로 저장하세요.

---

# 4.3.데이터 분석하기
+ 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별하세요.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [ ]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [4.3.1] 데이터 분포 알아보기_1
* '자치구' 등 여러 변수를 기준으로 시각화 해보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---